<section class="bg-black dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center hs-heading-container">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white hs-heading">Claim Your Free Product</h2>
            <p class="mb-6 text-gray-500 dark:text-gray-400 md:text-lg">Sign up with Carbriz for a new account and enjoy a complimentary premium car detailing product, your first step to a showroom-worthy shine!</p>
            <a routerLink="/signup" class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue=700 focus:outline-none dark:focus:ring-gray-900">Reedem Now</a>
        </div>
    </div>
</section>