<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our team</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Meet the Carbriz team, committed to providing top-tier car detailing products, enhancing the beauty and longevity of your vehicle.</p>
        </div> 
        <div class=" grid gap-3 lg:gap-9 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
                <app-team-card [team]="team1"></app-team-card>
                <app-team-card [team]="team2"></app-team-card>
                <app-team-card [team]="team3"></app-team-card>
        </div>  
    </div>
  </section>