<footer class="footer p-4 mt-5 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <!-- <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img src="../../../../assets/images/3.png" alt="Carbriz">
        </a> -->
        <!-- <p class="my-6 text-gray-500 dark:text-gray-400">Open-source library of over 400+ web components and interactive
            elements built for better web.</p> -->
        <!-- <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Premium</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
        </ul> -->
       <div class="carbriz-rights w-full flex flex-col" >
       <div>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/carbriz-rights"
            class="hover:underline">Carbriz™</a>. All Rights Reserved.</span>
       </div>
          <div class="carbriz-developer flex w-full justify-center text-gray-400 ">
            Made with <svg class="w-6 h-5 text-pink-700 pt-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z"/>
              </svg><span>by Srijan</span>
          </div>
       </div>
    </div>
</footer>